<!DOCTYPE html>
<html lang="en-UK">
<body>
			<p id="title" style="color:black;font-size: 60px;position: relative;left:550px;">Subscription Plans</p>
	<div class="pricing-wrapper clearfix" style="position: relative;right:120px;" >


		<link rel="stylesheet"  href="{{ url_for("static", filename="Subscription.css") }}">


		<div class="pricing-table">
			<h3 class="pricing-title">Trial</h3>
			<div class="price">$9.99<sup>for 5 days</sup></div>

			<ul class="table-list">
				<li> <span>Master chat to staff and customer</span></li>
				<li><span>Product view with up status,stock,purchase count and list of customers waiting for product. </span></li>
				<li> <span>Able to upload 5 products on the website.</span></li>
				<li> <span class="unlimited">Subscription ends in 5 days</span></li>
			</ul>

			<div class="table-buy">


				<p>$9.99<sup>per month</sup></p>
				<a href="/" class="pricing-action">Subscibe</a>


			</div>
		</div>

		<div class="pricing-table recommended">
			<h3 class="pricing-title">Regular</h3>
			<div class="price">$35.90<sup>/month</sup></div>

			<ul class="table-list">
				<li> <span>Master chat to staff and customer</span></li>
				<li><span>Product view with up status,stock,purchase count and list of customers waiting for product. </span></li>
				<li> <span>Able to upload 100 products on the website.</span></li>
				<li> <span class="unlimited">Subscription ends in 30 days</span></li>
			</ul>

			<div class="table-buy">
				<p>$35.90<sup>per month</sup></p>
				<a href="/" class="pricing-action">Subscribe</a>
			</div>
		</div>

		<div class="pricing-table">
			<h3 class="pricing-title">Premium</h3>
			<div class="price">$59.90<sup>/month</sup></div>

			<ul class="table-list">
				<li> <span>Master chat to staff and customer</span></li>
				<li><span>Product view with up status,stock,purchase count and list of customers waiting for product. </span></li>
				<li> <span>Able to upload 200 products on the website.</span></li>
				<li> <span class="unlimited">Subscription ends in 30 days</span></li>
			</ul>

			<div class="table-buy">
				<p>$59.90<sup>per month</sup></p>
				<a href="/" class="pricing-action">Subscibe</a>
			</div>
		</div>












	</div>
</body>
</html>




